* {
  margin:0px;
  padding:0px;
}

.B2D {
  display: block;
  width:384px;
  margin: 50px auto;
}

.B3D {
  display: block;
  width:484px;
  margin: 50px auto;
}

.B4D {
  display: block;
  width:584px;
  margin: 50px auto;
}

p {
  display: block;
  width:600px;  
  margin: 50px auto;
  font: 20px bold Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h1, h2 {
  display: block;
  width:600px;  
  margin: 50px auto;
}
